nav{
  height: 100px;
}
nav img{
    display: block;
    margin: 0 auto;
    width:12%;
    height:120px;
    top: 10px;
    bottom: 3px;
  }

.container img{
    margin-left: 20%;
    float: inline-start;
}

.text{
    width: 100%;
    padding-top: 20px;
}

.text h1{
    color: #4a5588;
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    font-size: 22px;
}

.text h1 i{
    color: #4a5588;
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    font-size: 15px;
}

.text p{
    color: #666;
    font-family: raleway, sans-serif;
    line-height: 30px;
    padding-top: 10px;
    width: 950px;
    text-align: left;
    text-align: justify;
    margin-top: 10px;
    padding-right: 30px;
    font-size: 17px;
}

.text h3{
  color: #666;
    font-family: raleway, sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
}

#h3{
  margin-left: 50px;
  margin-top: 18%;
}

#p1{
  margin-left: 4px;
}

#p2{
  margin-top: 30px;
  margin-top: 10px;
}

/* footer */

.footer {
    width: 100%;
    margin: 0;
    border-top: 1px solid #ddd;
    margin-top: 0;
    position: relative;
    z-index: 1;
  }
  
  .container3 {
    text-align: center;
    justify-content: center;
    text-align: center;
  }
  
  /* left footer */
  .left-footer {
    width: 25%;
    float: left;
    padding: 10px;
    border-right: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 283px;
  }
  .footer-left {
    padding-left: 20px;
  }
  
  .footer-left li {
    list-style: none;
    font-size: 13px;
    line-height: 28px;
  }
  
  /* middle footer */
  .middle-footer {
    width: 25%;
    float: left;
    padding: 10px;
    border-right: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    /* margin-left: -5px; */
  }
  
  .footer-middle {
    padding-left: 30px;
  }
  
  .footer-middle li {
    color: #000;
    list-style: none;
    font-size: 13px;
    line-height: 30px;
  }
  
  /* right footer */
  .right-footer {
    width: 45%;
    float: left;
    padding: 0 10px 0 50px;
    text-align: left;
  }
  
  .right-footer h1 {
    font-family: raleway-semibold;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #000;
    height: 20px;
    margin-bottom: 15px;
    margin-left: -30px;
    text-transform: uppercase;
  }
  
  .right-footer p {
    font-family: raleway-medium;
    font-size: 15px;
    color: #000;
    line-height: 19px;
    letter-spacing: 0.2px;
    margin-left: -30px;
  }
  
  /* form */
  .form {
    padding-left: 10px;
    padding-right: 90px;
    float: left;
  }
  
  .textname {
    border: 0px solid;
    background: #dfcccc;
    margin-bottom: 8px;
    padding: 10px 30px;
  }
  
  .textemail {
    border: 0px solid;
    background: #dfcccc;
    margin-bottom: 10px;
    padding: 10px 30px;
  }
  
  #btn {
    border: 1px solid rgb(250, 207, 142);
    margin-bottom: 8px;
    color: rgb(247, 200, 138);
    padding: 10px 20px;
    font-family: librebaskerville-italic, sans-serif;
  }
  
  /* links */
  .social-links {
    width: 340px;
    float: left;
    text-align: left;
    margin-top: 10px;
    padding-top: 8px;
    padding-left: 3px;
    border-left: 4px;
  }
  
  .social-links .bi-facebook {
    height: 50px;
    width: 45px;
    float: none;
    display: inline-block;
  }
  .social-links .bi-instagram {
    height: 42px;
    width: 55px;
    float: none;
    display: inline-block;
    margin-left: -5px;
  }
  .social-links .bi-youtube {
    height: 40px;
    width: 30px;
    float: none;
    display: inline-block;
    margin-right: 8px;
  }
  .social-links .bi-pinterest {
    height: 39px;
    width: 35px;
    float: none;
    display: inline-block;
    margin-left: 3px;
  }
  .social-links .bi-twitter {
    height: 40px;
    width: 35px;
    float: none;
    display: inline-block;
    margin-left: 10px;
  }
  
  /* bottom footer */
  .copy-footer p {
    width: 30%;
    font-family: raleway-medium;
    letter-spacing: 0.2px;
    color: #000;
    font-size: 14px;
    padding-left: 60px;
    margin-left: 60px;
    margin-top: 15px;
    background-color: #d0a4f5;
  }
  
  .copy-footer a {
    font-size: 14px;
    text-decoration: none;
    background-color: #d0a4f5;
    color: #000;
  }
  
  .copy-footer button {
      border: 0px solid;
      margin-bottom: 8px;
      background-color: #d0a4f5;
      color: #0a0a0a;
      padding: 7px 8px; 
      font-family: librebaskerville-italic, sans-serif;
      margin-top: -40px;
    margin-right: 10px;
    display: flex;
    float:right;
    }
  
  .copy-footer {
    align-items: center;
    justify-content: center;
    padding: 3px;
    background-color: #d0a4f5;
    color: #0a0a0a;
    margin-bottom: 5px;
    margin-top: 350px;
  }